/*
    Project: Make It Happen (Toolset for Generation of choice - and - consequence games)
    Subproject: Author(Tool / App) - Writer(Person) uses the Author to create the game (*.book)
    Authors: Countryen
    This Project is Open Source, see the LICENCE - File for more information.
    https://github.com/countryen/make-it-happen

    File-Info:
    app.css - > Main stylesheet for the whole app.
    "Countryen, 11th July 2015 @ C0 | VS -Villingen, Germany."
*/

/* The W3CSS -> Our main style. With normalizer subset.*/
@import url("w3.css");

body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#pageText {
  display: block;
}

div.editPages {
  width: 80%;
}

#index button {
    display:block;
    width:75%;
    margin:0.5em auto;
    height:3em;

}

/********************************/
/**
 * Style for fullscreen editors
    -> overview.html
    -> demo.html
    ! important: Most values must be % so that the scaling on zooming (onresize) works!
 */
/********************************/
.full-editor {
    margin: 0.5%;
    padding: 0.5%;
}
    .full-editor .w3-container {
        padding: 0.5%;
    }


.full-editor-left {
    width: 74%; /* To have a 3/4 1/4 sizing ! with w3-half|w3-quarter ! */
    overflow:scroll;
    margin-right:5px;
}

#overview-canvas {
    background-color: #ffcfcf;
    margin:0.5%;
    margin-right:10px;
}

.full-editor-right {

}

.full-editor-menu {
    height: 5%; /* Must be %*/
}

.full-editor-page-box {
    overflow: scroll;
}
    .full-editor-page-box button {
        display: block;
        width: 95%;
        height: 2.5em;
        background-color:#888888;
        margin: 0.25em auto;
        padding:0;
    }




