/*
    Project: Make It Happen (Toolset for Generation of choice - and - consequence games)
    Subproject: Author(Tool / App) - Writer(Person) uses the Author to create the game (*.book)
    Authors: Countryen
    This Project is Open Source, see the LICENCE - File for more information.
    https://github.com/countryen/make-it-happen

    File-Info:
    app.css - > Main stylesheet for the whole app.
    "Countryen, 11th July 2015 @ C0 | VS -Villingen, Germany."
*/

/* The W3CSS -> Our main style. With normalizer subset.*/
@import url("w3.css");

body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#pageText {
  display: block;
}

div.editPages {
  width: 80%;
}

/* connections.html */
#page-connections { 
    margin: 1%; 
    min-height:500px;
    padding:0.5%;
}
#page-connections .w3-container {
    padding:0.5%;
}

#page-connections .pages-container button {
    display:block;
    width:100%;
}

#page-connections .overview-container {
    width:74.99999%; /* To have a 3/4 1/4 sizing ! with w3-half|w3-quarter ! */
    height: 100%;
}


